{% extends 'base.html.twig' %}
{% block title %}Liste Courses!{% endblock %}
{% block body %}
<form action="{{ path('acceuil.note') }}" method="POST">
    <div class="container">
        {% for course in courses %}
            <input type="hidden" value="{{course.course_id}}" name={{"id_course"}}>
            <div class="card m-5 mt-5">
                <div class="card-header">
                    <h5> {{ loop.index }} - {{ course.question }} </h5>
                </div>
                <div class="card-body">
                    {% for i in course.reponses %}
                        <input type="radio" value="{{ i }}" name="{{ course.question }}"/> {{ i }} <br/>
                    {% endfor %}                 
                </div>
                <div class="card-footer">
                    <p>2 Point </p>
                </div>
            </div>
        {% endfor %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('courses.acceuil') }}" class="btn btn-primary mx-3">Retour A L'acceuil</a>
                <input type="submit" class="btn btn-danger" value="Valider Ma Soumission"/>
            </div>
    </div>
</form>
{% endblock %}

