{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <br><h1>Les détails d'etudiant : </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Matricule </th>
                <td>{{ user.matricule }}</td>
            </tr>
            <tr>
                <th>Nom </th>
                <td>{{ user.nomComplet }}</td>
            </tr>
            <tr>
                <th>Email </th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password </th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Role </th>
                {% set found = false %}
                 {% for role in user.roles %}
                     <td>{{ role }}</td>
                    {% if role == 'ROLE_USER' %}
                            {% set found = true %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

{% if found %}

    <table  class="table table-hover" >
    <thead>
        <tr>
            <th scope="row">Cours</th>
            <th>Note</th>
            <th>État</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}

        {% if note.note >=15 %}

            <tr class="table-success">
                <td>{{ note.course.nom }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.etat }}</td>
            </tr>

        {% endif %}

        {% if note.note <15 and note.note >= 10 %}

            <tr class="table-warning">
                <td>{{ note.course.nom }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.etat }}</td>
            </tr>

        {% endif %}

        {% if note.note < 10 %}

            <tr class="table-danger">
                <td>{{ note.course.nom }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.etat }}</td>
            </tr>

        {% endif %}

        {% else %}
            <tr>
                <td colspan="4">Aucun quiz passé.</td>
            </tr>

        {% endfor %}
    </tbody>

    </table>

{% endif %}
    <a href="{{ path('app_user_index') }}"  class="btn btn-success" role="button" >back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}"  class="btn btn-info" role="button">edit</a> 
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
