{% extends 'base.html.twig' %}

{% block title %}Liste Courses!{% endblock %}

{% block body %}

    <figure style=" margin-left: 20px; ">
            <blockquote class="blockquote">
               <br><p  style=" font-size:15px;" class="text-danger-emphasis">Conditions pour passer le quiz :</p>
                <ul class="text-danger-emphasis" style=" font-size:15px;">
                    <li>Choisir une seule réponse.</li>
                    <li>Chaque réponse est notée sur 2 points.</li>
                    <li>La validation se fait sur 10 points minimum.</li>
                </ul>
                
            </blockquote>
            <figcaption class="blockquote-footer">
               <p class="text-danger-emphasis"> Assurez-vous de suivre ces conditions pour réussir le quiz. </p>
            </figcaption>
    </figure>


<form action="{{ path('acceuil.note') }}" method="POST">
    <div class="container" style=" margin-bottom: 20px;">

        {% for course in courses %}
            <input type="hidden" value="{{course.course_id}}" name={{"id_course"}}>

            <div class="card m-5 mt-5">

                <div class="card-header">
                    <h5> {{ loop.index }} - {{ course.question }} </h5>
                </div>

                <div class="card-body">
                    {% for i in course.reponses%}

                         <input type="radio" value="{{ i }}" name="{{ course.question   }}"/> {{ i }} <br/>
                
            
                    {% endfor %}                
                </div>


                <div class="card-footer">
                    <p>2 Point </p>
                </div>
            </div>
        {% endfor %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('courses.acceuil') }}" class="btn btn-primary mx-3">Retour A L'acceuil</a>
                <input type="submit" class="btn btn-danger" value="Valider Ma Soumission"/>
            </div>
    </div>
</form>
{% endblock %}

