{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.matricule }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info" role="button"> Show</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-info" role="button">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}"  class="btn btn-outline-success" role="button">Create new</a>
{% endblock %}
